<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hafn.mapper.HafnMapper">

    <select id="HAFN_010S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_010S_STR #{cmpycd}, #{ymd}, #{selgbn}
    </select>

    <select id="HAFN_110S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_110S_STR #{cmpycd}, #{ymd}
    </select>

    <select id="HAFN_120S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_120S_STR #{cmpycd}, #{ymd}
    </select>

    <select id="HAFN_210S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_210S_STR #{cmpycd}, #{ymd}
    </select>

    <select id="HAFN_310S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_310S_STR #{cmpycd}, #{bondkind}, #{ymd}
    </select>

    <select id="HAFN_410S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_410S_STR #{cmpycd}, #{billtype}, #{fromdt}, #{todt}
    </select>

    <select id="HAFN_420S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_420S_STR #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <select id="HAFN_430S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_430S_STR #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <select id="HAFN_510S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_510S_STR #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <select id="HAFN_520S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_520S_STR #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <select id="HAFN_610U_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_610U_STR #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custcd},
        #{slipymd}, #{slipno}, #{srowno}, #{payymd}, #{payamt}
    </select>

    <select id="HAFN_620U_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_620U_STR #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custcd}, #{mgtno}
    </select>

    <select id="HAFN_630U_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_630U_STR #{actkind}, #{cmpycd}, #{ymd}, #{acctcd}
    </select>

    <select id="HAFN_670S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_670S_STR #{cmpycd}, #{ymd}, #{custcdfr}, #{custcdto}
    </select>

    <select id="HAFN_680S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_680S_STR #{cmpycd}, #{ymd}, #{custcdfr}, #{custcdto}
    </select>

    <select id="HAFN_690S_STR" resultType="java.util.LinkedHashMap">
        exec HAFN_690S_STR #{cmpycd}, #{fromdt}, #{todt}, #{custcdfr}, #{custcdto}, #{mgtno}
    </select>

</mapper>
