<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hfmf.mapper.HfmfMapper">
    <!-- 1   품목별 배부적수 등록-->
    <select id="FMF1020U_STR" resultType="java.util.LinkedHashMap">
        exec fmf1020u_str #{cmpycd}, #{actkind},  #{yymm}, #{itemcd}, #{divrate}
    </select>
    <!--2 제조비용관리-->
    <select id="FMF1040U_STR" resultType="java.util.LinkedHashMap">
        exec fmf1040u_str #{cmpycd}, #{actkind}, #{ym}, #{costcd}, #{acct}, #{costamt}, #{userid}
    </select>
    <!--  3  작업장 배부적수 등록-->
    <select id="FMF1050U_STR" resultType="java.util.LinkedHashMap">
        exec fmf1050u_str #{cmpycd}, #{actkind}, #{ym}, #{costcd}, #{linecd}, #{divstd},
        #{rate}, #{remark}, #{userid}
    </select>
    <!-- 4 생산실적집계-->
    <select id="FMF2010U_STR" resultType="java.util.LinkedHashMap">
        exec fmf2010u_str #{cmpycd}, #{actkind}, #{ym}, #{colgbn}, #{userid}
    </select>
    <!--5 공정별배부작업-->
    <select id="FMF2020U_STR" resultType="java.util.LinkedHashMap">
        exec fmf2020u_str #{cmpycd}, #{actkind}, #{ym}, #{chasu}, #{userid}
    </select>
    <!--6 작업장별 배부 명세서	   -->
    <select id="FMF2060R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2060r_str #{cmpycd}, #{actkind}, #{ym}, #{costcd}
    </select>
    <!--7 공정제조비용관리-->
    <select id="FMF2070U_STR" resultType="java.util.LinkedHashMap">
        exec fmf2070u_str #{cmpycd}, #{actkind}, #{ym}, #{costcd}, #{acct}, #{linecd}, #{adstamt}, #{userid}
    </select>

    <!--8 제조원가계산작업-->
    <select id="FMF2110U_STR" resultType="java.util.LinkedHashMap">
        exec fmf2110u_str #{cmpycd}, #{actkind}, #{ym}, #{jobord}, #{userid}, #{msgyn}, #{msgtext}
    </select>
    <!--9 품목별 제조원가 계산서-->
    <select id="FMF2120R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2120r_str #{cmpycd}, #{yymm}, #{itemcd}
    </select>
    <!--10 월별 제품 제조원가명세서-->
    <select id="FMF2140R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2140r_str #{cmpycd}, #{yymm}, #{itemcd}
    </select>
    <!--11 제조경비 배부명세서-->
    <select id="FMF2150R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2150r_str #{cmpycd}, #{yymm}, #{deptcd}
    </select>
    <!--12 제품별 제조원가 현황-->

    <select id="FMF2160R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2160r_str #{cmpycd}, #{yymm}, #{costcd}, #{jasancd}, #{mmgbn}
    </select>
    <!--13 외주가공 제조원가 현황 (ID 중복 수정) -->
    <select id="FMF2180R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2180r_str #{cmpycd}, #{yymm}, #{itemcd}
    </select>
    <!--14 재료비 현황-->
    <select id="FMF2190R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2190r_str #{cmpycd}, #{yymm}, #{itemcd}
    </select>
    <!--15 제조원가명세서-->
    <select id="FMF2210R_STR" resultType="java.util.LinkedHashMap">
        exec fmf2210r_str #{cmpycd}, #{yymm}
    </select>
    <!--16 원가마감정보등록 -->
    <select id="FMF3010U_STR" resultType="java.util.LinkedHashMap">
        exec fmf3010u_str #{cmpycd}, #{actkind}, #{ym}, #{jagbn}, #{userid}
    </select>

</mapper>
