-- MyDAC version: 12.3.1
-- MySQL server version: 8.0.28
-- MySQL client version: 8.0.0 Direct
-- Script date 2026/07/29 오전 9:26:03
-- ---------------------------------------------------------------------- 
-- Server: localhost
-- Database: asterisk

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
-- 
-- Database `asterisk` structure
-- 

USE mysql;
DROP DATABASE IF EXISTS `asterisk`;
CREATE DATABASE `asterisk`;
USE `asterisk`;

-- 
-- User permissions
-- 

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `asterisk`@`%`;
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `root`@`%` WITH GRANT OPTION;
GRANT SELECT ON *.* TO `mysql.infoschema`@`localhost`;
GRANT SHUTDOWN, SUPER ON *.* TO `mysql.session`@`localhost`;
GRANT USAGE ON *.* TO `mysql.sys`@`localhost`;
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `root`@`localhost` WITH GRANT OPTION;

-- 
-- Table structure for table `ars_callback`
-- 

DROP TABLE IF EXISTS `ars_callback`;
CREATE TABLE `ars_callback` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cmpycd` char(10) NOT NULL,
  `call_id` varchar(50) NOT NULL,
  `caller_num` varchar(20) DEFAULT NULL,
  `callback_num` varchar(20) NOT NULL,
  `request_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` char(3) DEFAULT '010',
  `agent_id` varchar(10) DEFAULT NULL,
  `process_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ars_callback`
-- 

-- 
-- Table structure for table `call_recording`
-- 

DROP TABLE IF EXISTS `call_recording`;
CREATE TABLE `call_recording` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `uniqueid` varchar(40) NOT NULL,
  `filename` varchar(255) NOT NULL,
  `filepath` varchar(500) DEFAULT NULL,
  `filesize` bigint DEFAULT '0',
  `duration` int DEFAULT '0',
  `addtime` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniqueid_idx` (`uniqueid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `call_recording`
-- 

-- 
-- Table structure for table `cdr`
-- 

DROP TABLE IF EXISTS `cdr`;
CREATE TABLE `cdr` (
  `accountcode` varchar(80) DEFAULT '',
  `src` varchar(80) DEFAULT '',
  `dst` varchar(80) DEFAULT '',
  `dcontext` varchar(80) DEFAULT '',
  `clid` varchar(80) DEFAULT '',
  `channel` varchar(80) DEFAULT '',
  `dstchannel` varchar(80) DEFAULT '',
  `lastapp` varchar(80) DEFAULT '',
  `lastdata` varchar(80) DEFAULT '',
  `start` datetime DEFAULT NULL,
  `answer` datetime DEFAULT NULL,
  `end` datetime DEFAULT NULL,
  `duration` int DEFAULT '0',
  `billsec` int DEFAULT '0',
  `disposition` varchar(45) DEFAULT '',
  `amaflags` int DEFAULT '0',
  `uniqueid` varchar(150) DEFAULT '',
  `userfield` varchar(255) DEFAULT '',
  `sequence` int DEFAULT '0',
  `peeraccount` varchar(80) DEFAULT '',
  `linkedid` varchar(150) DEFAULT '',
  KEY `uniqueid` (`uniqueid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `cdr`
-- 

/*!40000 ALTER TABLE `cdr` DISABLE KEYS */;
/*!40000 ALTER TABLE `cdr` ENABLE KEYS */;

-- 
-- Table structure for table `extensions`
-- 

DROP TABLE IF EXISTS `extensions`;
CREATE TABLE `extensions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `context` varchar(40) NOT NULL,
  `exten` varchar(40) NOT NULL,
  `priority` int NOT NULL DEFAULT '1',
  `app` varchar(40) NOT NULL,
  `appdata` varchar(256) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `context_exten_priority` (`context`,`exten`,`priority`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `extensions`
-- 

/*!40000 ALTER TABLE `extensions` DISABLE KEYS */;
/*!40000 ALTER TABLE `extensions` ENABLE KEYS */;

-- 
-- Table structure for table `ps_aors`
-- 

DROP TABLE IF EXISTS `ps_aors`;
CREATE TABLE `ps_aors` (
  `id` varchar(40) NOT NULL,
  `max_contacts` int DEFAULT NULL,
  `remove_existing` enum('yes','no') DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_aors`
-- 

/*!40000 ALTER TABLE `ps_aors` DISABLE KEYS */;
/*!40000 ALTER TABLE `ps_aors` ENABLE KEYS */;

-- 
-- Table structure for table `ps_auths`
-- 

DROP TABLE IF EXISTS `ps_auths`;
CREATE TABLE `ps_auths` (
  `id` varchar(40) NOT NULL,
  `auth_type` enum('userpass','md5','google_oauth') DEFAULT 'userpass',
  `nonce_lifetime` int DEFAULT NULL,
  `md5_creds` varchar(40) DEFAULT NULL,
  `password` varchar(80) DEFAULT NULL,
  `realm` varchar(40) DEFAULT NULL,
  `username` varchar(40) DEFAULT NULL,
  `refresh_token` varchar(255) DEFAULT NULL,
  `oauth_client_id` varchar(255) DEFAULT NULL,
  `oauth_secret` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ps_auths_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_auths`
-- 

/*!40000 ALTER TABLE `ps_auths` DISABLE KEYS */;
/*!40000 ALTER TABLE `ps_auths` ENABLE KEYS */;

-- 
-- Table structure for table `ps_endpoints`
-- 

DROP TABLE IF EXISTS `ps_endpoints`;
CREATE TABLE `ps_endpoints` (
  `id` varchar(40) NOT NULL,
  `transport` varchar(40) DEFAULT NULL,
  `aors` varchar(200) DEFAULT NULL,
  `auth` varchar(40) DEFAULT NULL,
  `context` varchar(40) DEFAULT NULL,
  `disallow` varchar(200) DEFAULT NULL,
  `allow` varchar(200) DEFAULT NULL,
  `direct_media` enum('yes','no') DEFAULT NULL,
  `rewrite_contact` enum('yes','no') DEFAULT NULL,
  `record_yn` char(1) DEFAULT NULL,
  `webrtc` varchar(10) DEFAULT 'yes',
  `dtls_auto_self_signed` varchar(10) DEFAULT 'yes',
  `media_encryption` varchar(20) DEFAULT 'dtls',
  `dtls_verify` varchar(20) DEFAULT 'fingerprint',
  `dtls_setup` varchar(20) DEFAULT 'actpass',
  `icesupport` varchar(10) DEFAULT 'yes',
  `avpf` varchar(10) DEFAULT 'yes',
  `rtp_symmetric` varchar(10) DEFAULT 'yes',
  `force_rport` varchar(10) DEFAULT 'yes',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `ps_endpoints`
-- 

/*!40000 ALTER TABLE `ps_endpoints` DISABLE KEYS */;
/*!40000 ALTER TABLE `ps_endpoints` ENABLE KEYS */;

-- 
-- Table structure for table `queue_log`
-- 

DROP TABLE IF EXISTS `queue_log`;
CREATE TABLE `queue_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `time` varchar(26) DEFAULT NULL,
  `callid` varchar(40) DEFAULT NULL,
  `queuename` varchar(128) DEFAULT NULL,
  `agent` varchar(128) DEFAULT NULL,
  `event` varchar(128) DEFAULT NULL,
  `data1` varchar(128) DEFAULT NULL,
  `data2` varchar(128) DEFAULT NULL,
  `data3` varchar(128) DEFAULT NULL,
  `data4` varchar(128) DEFAULT NULL,
  `data5` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `queue_log_time_idx` (`time`),
  KEY `queue_log_callid_idx` (`callid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- 
-- Dumping data for table `queue_log`
-- 

-- 
-- Table structure for table `queue_members`
-- 

DROP TABLE IF EXISTS `queue_members`;
CREATE TABLE `queue_members` (
  `uniqueid` int NOT NULL AUTO_INCREMENT,
  `queue_name` varchar(80) NOT NULL,
  `interface` varchar(80) NOT NULL,
  `membername` varchar(80) DEFAULT NULL,
  `state_interface` varchar(80) DEFAULT NULL,
  `penalty` int DEFAULT '0',
  `paused` int DEFAULT '0',
  `wrapuptime` int DEFAULT '0',
  PRIMARY KEY (`uniqueid`),
  UNIQUE KEY `queue_interface` (`queue_name`,`interface`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Asterisk 큐 멤버';

-- 
-- Dumping data for table `queue_members`
-- 

/*!40000 ALTER TABLE `queue_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `queue_members` ENABLE KEYS */;

-- 
-- Table structure for table `queues`
-- 

DROP TABLE IF EXISTS `queues`;
CREATE TABLE `queues` (
  `name` varchar(128) NOT NULL,
  `musiconhold` varchar(128) DEFAULT NULL,
  `announce` varchar(128) DEFAULT NULL,
  `context` varchar(128) DEFAULT NULL,
  `timeout` int DEFAULT NULL,
  `strategy` varchar(128) DEFAULT 'ringall',
  `joinempty` varchar(128) DEFAULT 'yes',
  `leavewhenempty` varchar(128) DEFAULT 'no',
  `ringinuse` tinyint(1) DEFAULT '0',
  `announce_frequency` int DEFAULT '0',
  `announce_holdtime` varchar(128) DEFAULT 'no',
  `retry` int DEFAULT '5',
  `wrapuptime` int DEFAULT '0',
  `maxlen` int DEFAULT '0',
  `servicelevel` int DEFAULT '60',
  PRIMARY KEY (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Asterisk 큐 마스터';

-- 
-- Dumping data for table `queues`
-- 

/*!40000 ALTER TABLE `queues` DISABLE KEYS */;
/*!40000 ALTER TABLE `queues` ENABLE KEYS */;

/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
