<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.ha00.mapper.Ha00Mapper">

    <select id="HA00_00P_STR" resultType="map">
        exec ha00_00p_str #{gubun}, #{cmpycd}, #{gbncd}, #{code}, #{remark}
    </select>

    <select id="HA00_010S_STR" resultType="map">
        exec ha00_010s_str #{cmpycd}, #{cdkind}, #{cdgbn}, #{code}, #{code_1}
    </select>

    <!-- 💡 공통 코드 테이블(haba900t_tbl) 조회 기능을 도메인 모듈로 이전 -->
    <select id="GET_CODE_LIST" resultType="map">
        select cdtype, codecd, codenm, remark, dspord, useyn
        from haba900t_tbl
        where cdtype = #{cdtype} and useyn = 'y'
        order by dspord
    </select>

</mapper>
