<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hpcl.mapper.HpclMapper">

    <!-- 마감작업 -->
    <select id="HPCL_100U_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_100u_str #{actkind}, #{cmpycd}, #{ym}, #{updemp}
    </select>

    <!-- 제품제조원가 등록 -->
    <select id="HPCL_110U_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_110u_str #{actkind}, #{cmpycd}, #{ym}, #{itemcd}, #{qty}, #{amt}, #{updemp}
    </select>

    <!-- 원부자재 수불부 -->
    <select id="HPCL_200S_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_200s_str #{cmpycd}, #{ym}, #{astkind}
    </select>

    <!-- 창고별 원부자재 수불부 -->
    <select id="HPCL_210S_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_210s_str #{cmpycd}, #{whcd}, #{ym}, #{astkind}
    </select>

    <!-- 공정재공품 수불부 -->
    <select id="HPCL_220S_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_220s_str #{cmpycd}, #{ym}, #{linecd}, #{progcd}
    </select>

    <!-- 공정재공품 수불부(상세/추가) -->
    <select id="HPCL_230S_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_230s_str #{cmpycd}, #{ym}, #{linecd}, #{progcd}
    </select>

    <!-- 재공임가공 수불부 -->
    <select id="HPCL_240S_STR" resultType="java.util.LinkedHashMap">
        exec hpcl_240s_str #{cmpycd}, #{ym}, #{linecd}, #{progcd}, #{custcd}
    </select>

</mapper>
