<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hatx.mapper.HatxMapper">

    <!-- 매입/매출 부가세관리 조회 및 처리 -->
    <select id="HATX_010U_STR" resultType="java.util.LinkedHashMap">
        exec hatx_010u_str
            #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{taxkind},
            #{taxym}, #{taxno}, #{taxunit}, #{custcd}, #{custno},
            #{custnm}, #{bossnm}, #{adrs}, #{custkind}, #{custtype},
            #{pubymd}, #{taxtype}, #{typenm}, #{supyamt}, #{vatamt},
            #{descnm}, #{slipymd}, #{slipno}, #{srowno}, #{useyn},
            #{userid}, #{col1}, #{col2}, #{col3}, #{col4},
            #{bgongcd}, #{col6}
    </select>

    <!-- 매입/매출 부가세 품목 상세 처리 -->
    <select id="HATX_011U_STR" resultType="java.util.LinkedHashMap">
        exec hatx_011u_str
            #{actkind}, #{cmpycd}, #{taxkind}, #{taxym}, #{taxno},
            #{rowno}, #{ymd}, #{itemnm}, #{qty}, #{price},
            #{amt}, #{vat}, #{bigo}
    </select>

    <!-- 전자세금계산서발송 처리 -->
    <select id="HATX_080U_STR" resultType="java.util.LinkedHashMap">
        exec hatx_080u_str
            #{actkind}, #{cmpycd}, #{taxunit}, #{deptcd}, #{fromdt},
            #{todt}, #{cfmyn}, #{taxkind}, #{taxym}, #{taxno},
            #{elcyn}, #{userid}
    </select>

    <!-- 매입장 조회 -->
    <select id="HATX_030S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_030s_str
            #{cmpycd}, #{saupcd}, #{gubun1}, #{gubun2}, #{stdymd}, #{endymd},
            #{fcustcd}, #{tcustcd}, #{elcyn}
    </select>

    <!-- 매출장 조회 -->
    <select id="HATX_040S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_040s_str
            #{cmpycd}, #{saupcd}, #{gubun1}, #{gubun2}, #{stdymd}, #{endymd},
            #{fcustcd}, #{tcustcd}
    </select>

    <select id="HATX_050U_STR" resultType="java.util.LinkedHashMap">
        exec hatx_050u_str #{cmpycd}, #{taxunit}, #{yy}, #{gisu}, #{gbn}
    </select>

    <!-- 세금계산서합계표 조회 -->
    <select id="HATX_110S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_110s_str #{cmpycd}, #{iogbn}, #{taxunit}, #{ymfr}, #{ymto}
    </select>



    <!-- 신용카드매출전표수취명세서 조회 -->
    <select id="HATX_130S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_130s_str #{actkind}, #{cmpycd}, #{taxunit}, #{ymfr}, #{ymto}, #{taxtype}
    </select>

    <!-- 신용카드매출전표등발행금액집계표 조회 -->
    <select id="HATX_140S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_140s_str #{actkind}, #{cmpycd}, #{taxunit}, #{ymfr}, #{ymto}
    </select>

    <select id="HATX_150S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_150s_str #{cmpycd}, #{gubun}, #{taxunit}, #{ymfr}, #{ymto}
    </select>

    <select id="HATX_160S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_160s_str #{cmpycd}, #{taxunit}, #{ymfr}, #{ymto}
    </select>

    <select id="HATX_170S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_170s_str #{cmpycd}, #{ymfr}, #{ymto}
    </select>

    <select id="HATX_210U_STR" resultType="java.util.LinkedHashMap">
        exec hatx_210u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{taxkind}, #{taxym}, #{taxno},
        #{taxunit}, #{custcd}, #{custno}, #{custnm}, #{bossnm}, #{adrs}, #{custkind}, #{custtype},
        #{pubymd}, #{taxtype}, #{typenm}, #{supyamt}, #{vatamt}, #{descnm}, #{slipymd}, #{slipno},
        #{srowno}, #{taxupdcd}, #{bfymd}, #{useyn}, #{updemp}
    </select>

    <!-- 수출실적명세서 조회 -->
    <select id="HATX_600S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_600s_str #{actkind}, #{cmpycd}, #{taxunit}, #{ymfr}, #{ymto}
    </select>

    <!-- 접대비명세서 조회 -->
    <select id="HATX_500S_STR" resultType="java.util.LinkedHashMap">
        exec hatx_500s_str #{cmpycd}, #{gubun1}, #{gubun2}, #{stdymd}, #{endymd}
    </select>

    <!-- 전표 마스터 처리 -->
    <select id="HATX_01AU_STR" resultType="java.util.LinkedHashMap">
        exec hatx_01au_str
            #{actkind}, #{cmpycd}, #{slipymd}, #{slipno}, #{ref_no},
            #{deptcd}, #{usernm}, #{slipgu}, #{remark}, #{userid}
    </select>

    <!-- 전표 상세 처리 -->
    <select id="HATX_01BU_STR" resultType="java.util.LinkedHashMap">
        exec hatx_01bu_str
            #{actkind}, #{cmpycd},  #{slipymd}, #{slipno}, #{srowno},
            #{acctymd}, #{acctcd},  #{deptcd},  #{custcd}, #{bugtcd},
            #{prjcd},   #{mgtno},   #{sslipno}, #{dbamt},  #{cramt},
            #{remark},  #{paycndt}, #{payymd},  #{docno1}, #{docno2},
            #{docno3},  #{docno4},  #{docno5},  #{docno6}, #{docno7},
            #{docno8},  #{docno9},  #{updemp}
    </select>

    <!-- 매입/매출 부가세접수 처리 -->
    <select id="HATX_060U_STR" resultType="java.util.LinkedHashMap">
        exec hatx_060u_str
            #{actkind}, #{cmpycd}, #{taxunit}, #{fromdt}, #{todt},
            #{cfmyn}, #{taxkind}, #{taxym}, #{taxno}, #{elcyn},
            #{userid}
    </select>

</mapper>
