<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hspl.mapper.HsplMapper">
    <!-- 개인별 품목별 판매계획 -->
    <select id="HSPL_100U_STR" resultType="java.util.LinkedHashMap">
        exec hspl_100u_str #{actkind}, #{cmpycd}, #{yyyy}, #{deptcd}, #{userid}, #{agrpcd}, #{itemcd},
        #{itsize}, #{unit}, #{planamt01}, #{planamt02}, #{planamt03}, #{planamt04}, #{planamt05},
        #{planamt06}, #{planamt07}, #{planamt08}, #{planamt09}, #{planamt10}, #{planamt11}, #{planamt12},
        #{useyn}, #{updemp}
    </select>

    <!-- 개인별 품목그룹별 판매계획 -->
    <select id="HSPL_110U_STR" resultType="java.util.LinkedHashMap">
        exec hspl_110u_str #{actkind}, #{cmpycd}, #{yyyy}, #{deptcd}, #{userid}, #{astkind}, #{agrpcd},
        #{bgrpcd}, #{planamt01}, #{planamt02}, #{planamt03}, #{planamt04}, #{planamt05}, #{planamt06},
        #{planamt07}, #{planamt08}, #{planamt09}, #{planamt10}, #{planamt11}, #{planamt12}, #{useyn}, #{updemp}
    </select>

    <!-- 개인별 품목별 판매계획/실적 -->
    <select id="HSPL_200S_STR" resultType="java.util.LinkedHashMap">
        exec hspl_200s_str #{actkind}, #{cmpycd}, #{yyyy}, #{deptcd}, #{userid}
    </select>

    <!-- 개인별 품목그룹별 판매계획/실적 -->
    <select id="HSPL_210S_STR" resultType="java.util.LinkedHashMap">
        exec hspl_210s_str #{actkind}, #{cmpycd}, #{yyyy}, #{deptcd}, #{userid}
    </select>

    <!-- 개인별 판매계획/실적 -->
    <select id="HSPL_220S_STR" resultType="java.util.LinkedHashMap">
        exec hspl_220s_str #{actkind}, #{cmpycd}, #{yyyy}, #{deptcd}
    </select>

</mapper>
