<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hscl.mapper.HsclMapper">

    <select id="HSCL_200S_STR" resultType="java.util.LinkedHashMap">
        exec hscl_200s_str #{cmpycd}, #{fromym}, #{toym}, #{astkind}
     </select>

    <select id="HSCL_100U_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_100U_STR #{actkind}, #{cmpycd}, #{ym}, #{updemp}
    </select>

    <select id="HSCL_110U_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_110U_STR #{actkind}, #{cmpycd}, #{deptcd}, #{ioym}, #{slipymd}, #{slipno}
    </select>

    <select id="HSCL_115U_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_115U_STR #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{slipkind},
        #{slipymd}, #{slipno}, #{deptcd}, #{dacctcd}, #{dacctnm}, #{cacctcd}, #{cacctnm},
        #{ioamt}, #{remark}, #{custcd}, #{custnm}, #{updemp}
    </select>

    <select id="HSCL_210S_STR" resultType="java.util.LinkedHashMap">
        exec hscl_210s_str #{cmpycd}, #{whcd}, #{ym}, #{astkind}
    </select>

    <select id="HSCL_220S_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_220S_STR #{cmpycd}, #{deptcd}, #{ym}
    </select>

    <select id="HSCL_270S_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_270S_STR #{cmpycd}, #{deptcd}, #{ym}
    </select>

    <select id="HSCL_290S_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_290S_STR #{cmpycd}, #{deptcd}, #{ym}
    </select>

    <select id="HSCL_310S_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_310S_STR #{cmpycd}, #{deptcd}, #{ym}
    </select>

    <select id="HSCL_520S_STR" resultType="java.util.LinkedHashMap">
        exec HSCL_520S_STR #{cmpycd}, #{ym}, #{deptcd}
    </select>

</mapper>
