<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hpba.mapper.HpbaMapper">

    <!-- 공정도 관리 -->
    <select id="HPBA_200U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_200u_str #{actkind}, #{cmpycd}, #{itemcd}, #{linecd}, #{astkind},
        #{progcd}, #{itsize}, #{unit}, #{progord}, #{capahh}, #{gadrate},
        #{pqtytt}, #{pqtydd}, #{gadtmdd}, #{jungrate}, #{stdworkhh}, #{updemp}
    </select>

    <!-- bom 관리 -->
    <select id="HPBA_210U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_210u_str #{actkind}, #{cmpycd}, #{itemcd}, #{linecd}, #{progcd},
        #{mitemcd}, #{mitsize}, #{munit}, #{inqty}, #{losrate}, #{calgbn},
        #{ingbn}, #{jodgbn}, #{befprog}, #{fromdt}, #{todt}, #{useyn}, #{updemp}
    </select>

    <!-- 생산라인 관리 -->
    <select id="HPBA_130U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_130u_str #{actkind}, #{cmpycd}, #{linecd}, #{linenm}, #{deptcd},
        #{dspord}, #{useyn}, #{bigo}, #{updemp}
    </select>

    <!-- 공정코드 관리 -->
    <select id="HPBA_100U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_100u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{prognm},
        #{deptcd}, #{bigo}, #{dspord}, #{useyn}, #{updemp}
    </select>

    <!-- 코드정보 -->
    <select id="HPBA_900U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_900u_str #{actkind}, #{cmpycd}, #{cdgbn}, #{code}, #{cdnm},
        #{remark}, #{dspord}, #{useyn}, #{updemp}
    </select>

    <!-- 재고금액 등록 -->
    <select id="HPBA_800U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_800u_str #{actkind}, #{cmpycd}, #{ym}, #{mitemcd}, #{bsqty}, #{bsamt}, #{updemp}
    </select>

    <!-- 창고 재고수량 등록 -->
    <select id="HPBA_810U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_810u_str #{actkind}, #{cmpycd}, #{ym}, #{whcd}, #{mitemcd}, #{bsqty}, #{updemp}
    </select>

    <!-- 재공재공 금액 수불 등록 -->
    <select id="HPBA_820U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_820u_str #{actkind}, #{cmpycd}, #{ym}, #{linecd}, #{progcd},
        #{itemcd}, #{bsqty}, #{bsamt}, #{updemp}
    </select>

    <!-- 재공재고 수량 수불 등록 -->
    <select id="HPBA_830U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_830u_str #{actkind}, #{cmpycd}, #{ym}, #{linecd}, #{progcd},
        #{itemcd}, #{bsqty}, #{updemp}
    </select>

    <!-- 외주 재공재고 수량 수불 등록 -->
    <select id="HPBA_840U_STR" resultType="java.util.LinkedHashMap">
        exec hpba_840u_str #{actkind}, #{cmpycd}, #{ym}, #{linecd}, #{progcd},
        #{custcd}, #{itemcd}, #{bsqty}, #{updemp}
    </select>

</mapper>
