<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.habg.mapper.HabgMapper">

    <select id="HABG_010U_STR" resultType="java.util.LinkedHashMap">
        exec habg_010u_str #{actkind}, #{cmpycd}, #{bugtym}, #{deptcd}, #{bugtcd}, #{reqamt}, #{userid}
    </select>

    <select id="HABG_020S_STR" resultType="java.util.LinkedHashMap">
        exec habg_020s_str #{cmpycd}, #{bugtyy}, #{deptcd}
    </select>

    <select id="HABG_030U_STR" resultType="java.util.LinkedHashMap">
        exec habg_030u_str #{actkind}, #{cmpycd}, #{bugtym}, #{deptcd}, #{bugtcd}, #{adstamt}, #{allyn}, #{userid}
    </select>

    <select id="HABG_050U_STR" resultType="java.util.LinkedHashMap">
        exec habg_050u_str #{actkind}, #{cmpycd}, #{bugtym}, #{deptcd}, #{bugtcd}, #{asgnamt}, #{allyn}, #{userid}
    </select>

    <select id="HABG_060U_STR" resultType="java.util.LinkedHashMap">
        exec habg_060u_str #{cmpycd}, #{bugtymf}, #{bugtymt}, #{deptcdf}, #{deptcdt}, #{wkgbn}, #{userid}
    </select>

    <select id="HABG_070S_STR" resultType="java.util.LinkedHashMap">
        exec habg_070s_str #{cmpycd}, #{bugtyy}, #{deptcd}
    </select>

    <select id="HABG_110U_STR" resultType="java.util.LinkedHashMap">
        exec habg_110u_str #{actkind}, #{cmpycd}, #{bugtym}, #{bugtno}, #{deptcd}, #{dockind}, #{bugtcd_fr}, #{bugtym_fr}, #{reqamt}, #{bugtcd_to}, #{bugtym_to}, #{bigo}, #{useyn}, #{userid}
    </select>

    <select id="HABG_120U_STR" resultType="java.util.LinkedHashMap">
        exec habg_120u_str #{actkind}, #{cmpycd}, #{bugtym}, #{bugtno}, #{deptcd}, #{bugtamt}, #{bugtymd}, #{rstyn}, #{userid}
    </select>

    <select id="HABG_210S_STR" resultType="java.util.LinkedHashMap">
        exec habg_210s_str #{cmpycd}, #{bugtym}, #{deptcd}
    </select>

    <select id="HABG_220S_STR" resultType="java.util.LinkedHashMap">
        exec habg_220s_str #{cmpycd}, #{bugtym}, #{deptcd}, #{bugtcd}
    </select>

    <select id="HABG_230S_STR" resultType="java.util.LinkedHashMap">
        exec habg_230s_str #{cmpycd}, #{bugtyy}, #{deptcd}
    </select>

</mapper>
