<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hsip.mapper.HsipMapper">

    <select id="HSIP_100U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_100u_str
            #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm},
            #{fileno}, #{deptcd}, #{offerno}, #{supergbn}, #{imptgbn},
            #{issymd}, #{custcd}, #{currcd}, #{frgnrate}, #{nacd},
            #{shipport}, #{pricond}, #{pritext}, #{arvport}, #{paycond},
            #{payterm}, #{lcamt}, #{wonamt}, #{frgnamt}, #{xtamt},
            #{bigo}, #{inymd}, #{apvyn}, #{apvymd}, #{apvemp}, #{updemp}
    </select>

    <select id="HSIP_101U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_101u_str #{actkind}, #{cmpycd}, #{fileno}, #{prowno}, #{itemcd}, #{itsize},
        #{unit}, #{qty}, #{amt}, #{updemp}
    </select>

    <select id="HSIP_110U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_110u_str #{actkind}, #{cmpycd}, #{fileno}, #{shipseq}, #{shipymd},
        #{arvymd}, #{storseat}, #{blno}, #{frgnrate}, #{updemp}
    </select>

    <select id="HSIP_111U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_111u_str #{actkind}, #{cmpycd}, #{fileno}, #{shipseq}, #{srowno},
        #{itemcd}, #{itsize}, #{unit}, #{qty}, #{amt}, #{wonamt}, #{updemp}
    </select>

    <select id="HSIP_112U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_112u_str #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}
    </select>

    <select id="HSIP_120U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_120u_str #{actkind}, #{cmpycd}, #{fileno}, #{shipseq}, #{passseq},
        #{passymd}, #{taxorg}, #{passno}, #{whcd}, #{deptcd}, #{ioym}, #{iono}, #{updemp}
    </select>

    <select id="HSIP_121U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_121u_str #{actkind}, #{cmpycd}, #{fileno}, #{shipseq}, #{passseq},
        #{srowno}, #{itemcd}, #{itsize}, #{unit}, #{gqty}, #{qty}, #{amt},
        #{ioym}, #{iono}, #{iorowno}, #{updemp}
    </select>

    <select id="HSIP_122U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_122u_str #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}
    </select>

    <select id="HSIP_130U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_130u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptnm},
        #{fileno}, #{docno}, #{deptcd}, #{pubymd}, #{bigo}, #{updemp}
    </select>


    <select id="HSIP_131U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_131u_str #{actkind}, #{cmpycd}, #{fileno}, #{docno}, #{rowno}, #{costcd},
        #{deptcd}, #{shipseq}, #{passseq}, #{pubymd}, #{costamt}, #{currcd}, #{frgnrate},
        #{frgnamt}, #{paycust}, #{mgtno}, #{bigo}, #{slipymd}, #{slipno}, #{srowno}, #{updemp}
    </select>

    <select id="HSIP_140U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_140u_str #{actkind}, #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}, #{fileno},
        #{docno}, #{crowno}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIP_145U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_145u_str #{actkind}, #{cmpycd}, #{costcd}, #{fromdt}, #{todt}, #{deptcd},
        #{fileno}, #{docno}, #{crowno}, #{jsanymd}, #{spyamt}, #{vatamt}, #{custcd}, #{taxunit},
        #{vattype}, #{slipymd}, #{slipno}, #{slipkind}, #{hdeptcd}, #{business}, #{updemp}
    </select>

    <select id="HSIP_150U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_150u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIP_155U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_155u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIP_160U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_160u_str #{actkind}, #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}, #{divyn},
        #{fileno}, #{shipseq}, #{passseq}, #{updemp}
    </select>

    <select id="HSIP_161S_STR" resultType="java.util.LinkedHashMap">
        exec hsip_161s_str #{actkind}, #{cmpycd}, #{fileno}, #{shipseq}, #{passseq}, #{divyn}, #{itemcd}
    </select>

    <select id="HSIP_180U_STR" resultType="java.util.LinkedHashMap">
        exec hsip_180u_str #{actkind}, #{cmpycd}, #{fileno}, #{shipseq}, #{passseq},
        #{ioym}, #{iono}, #{iorowno}, #{ioamt}, #{updemp}
    </select>

    <select id="HSIP_200S_STR" resultType="java.util.LinkedHashMap">
        exec hsip_200s_str #{actkind}, #{cmpycd}, #{fileno}, #{deptcd}
    </select>

    <select id="HSIP_210S_STR" resultType="java.util.LinkedHashMap">
        exec hsip_210s_str #{cmpycd}, #{yy}, #{deptcd}
    </select>

</mapper>
