<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hsst.mapper.HsstMapper">

    <select id="HSST_100S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_100s_str #{cmpycd}, #{selgbn}, #{deptcd}, #{custfr}, #{custto}, #{fromdt}, #{todt}
    </select>
    <select id="HSST_120S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_120s_str #{cmpycd}, #{deptcd}, #{ymd}
    </select>
    <select id="HSST_130S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_130s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{tymd}
    </select>
    <select id="HSST_150S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_150s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{tymd}
    </select>
    <select id="HSST_180S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_180s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{tymd}
    </select>
    <select id="HSST_200S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_200s_str #{cmpycd}, #{ymd}, #{whcd}, #{astkind}, #{itemnm}, #{pageno}, #{maxcnt}
    </select>
    <select id="HSST_210S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_210s_str #{cmpycd}, #{ymd}, #{deptcd}, #{custcdfr}, #{custcdto}
    </select>
    <select id="HSST_300S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_300s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{tymd}
    </select>
    <select id="HSST_320S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_320s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{tymd}
    </select>
    <select id="HSST_340S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_340s_str #{cmpycd}, #{deptcd}, #{ym}
    </select>
    <select id="HSST_360S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_360s_str #{cmpycd}, #{deptcd}, #{custcd}, #{ym}
    </select>
    <select id="HSST_510S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_510s_str #{cmpycd}, #{deptcd}, #{itemcd}, #{fromdt}, #{tymd}
    </select>
    <select id="HSST_520S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_520s_str #{cmpycd}, #{deptcd}, #{yymm}
    </select>
    <select id="HSST_570S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_570s_str #{cmpycd}, #{deptcd}, #{custcd}, #{fromdt}, #{todt}, #{itemcd}
    </select>
    <select id="HSST_600S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_600s_str #{cmpycd}, #{yy}, #{deptcd}
    </select>
    <select id="HSST_610S_STR" resultType="java.util.LinkedHashMap">
        exec hsst_610s_str #{cmpycd}, #{yy}, #{deptcd}
    </select>
</mapper>
