<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hppl.mapper.HpplMapper">

    <select id="HPPL_100U_STR" resultType="java.util.LinkedHashMap">
        exec hppl_100u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{yymmdd}, #{itemcd}, #{itsize}, #{unit}, #{plnqty}, #{updemp}
    </select>

    <select id="HPPL_150U_STR" resultType="java.util.LinkedHashMap">
        exec hppl_150u_str
            #{actkind}, #{cmpycd}, #{gubun}, #{fromdt}, #{todt}, #{custnm},
            #{reqymd}, #{reqym}, #{reqno}, #{custcd}, #{napgiymd}, #{itemcd}, #{planqty},
            #{bigo}, #{pumymd}, #{pumno}, #{updemp}
    </select>

    <select id="HPPL_110S_STR" resultType="java.util.LinkedHashMap">
        exec hppl_110s_str #{cmpycd}, #{yymmdd}
    </select>

    <select id="HPPL_120U_STR" resultType="java.util.LinkedHashMap">
        exec hppl_120u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{yymmdd}, #{itemcd}, #{itsize}, #{unit}, #{plnqty}, #{updemp}
    </select>

</mapper>
