<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crmbank.erp.hppl.mapper.PdCapaMapper">

  <!-- 제품 품목 목록 조회 -->
  <select id="getProductItemList" parameterType="map" resultType="map">
    <![CDATA[
    select itemcd, itemnm, itsize, unit
      from hsba010t_tbl
     where cmpycd = #{cmpycd}
       and astkind = '200'
    ]]>
    <if test="schnm != null and schnm != ''">
      and (itemnm like concat('%', trim(#{schnm}), '%') or itemcd like concat(trim(#{schnm}), '%'))
    </if>
    <![CDATA[
    order by itemcd
    ]]>
  </select>

  <!-- 제품별 표준공정도 목록 조회 -->
  <select id="getProductCapaList" parameterType="map" resultType="com.crmbank.erp.hppl.dto.PdCapaDto">
    <![CDATA[
    select a.cmpycd,
           #{itemcd} as itemcd,
           a.linecd,
           a.progcd,
           a.prognm,
           case when b.progord is null then a.dspord else b.progord end as progord,
           isnull(b.capahh, 0) as capahh,
           isnull(b.gadrate, 0) as gadrate,
           isnull(b.pqtytt, 0) as pqtytt,
           isnull(b.pqtydd, 0) as pqtydd,
           isnull(b.gadtmdd, 0) as gadtmdd,
           isnull(b.jungrate, 0) as jungrate,
           case when b.progcd is not null then 'y' else 'n' end as addyn
      from HPBA100T_TBL a
      left outer join HPBA200T_TBL b on a.cmpycd = b.cmpycd
                               and a.linecd = b.linecd
                               and a.progcd = b.progcd
                               and b.itemcd = #{itemcd}
     where a.cmpycd = #{cmpycd}
       and a.linecd = #{linecd}
     order by cast(case when b.progord is null then a.dspord else b.progord end as int)
    ]]>
  </select>

  <!-- 특정 공정의 capa 정보 상세 조회 -->
  <select id="selectPdCapa" parameterType="map" resultType="com.crmbank.erp.hppl.dto.PdCapaDto">
    <![CDATA[
    select cmpycd, itemcd, linecd, progcd, progord, itsize, unit,
           capahh, gadrate, pqtytt, pqtydd, gadtmdd, jungrate
      from HPBA200T_TBL
     where cmpycd = #{cmpycd} and itemcd = #{itemcd} and linecd = #{linecd} and progcd = #{progcd}
    ]]>
  </select>

  <select id="selectPdCapaCnt" parameterType="map" resultType="int">
    <![CDATA[
    select count(*) from hpba200t_tbl
     where cmpycd = #{cmpycd} and itemcd = #{itemcd} and linecd = #{linecd} and progcd = #{progcd}
    ]]>
  </select>

  <insert id="insertPdCapa" parameterType="com.crmbank.erp.hppl.dto.PdCapaDto">
    <![CDATA[
    insert into hpba200t_tbl (
        cmpycd, itemcd, linecd, progcd, progord, capahh, gadrate, jungrate, pqtytt, gadtmdd, pqtydd,
        addtime, updtime, updemp
    ) values (
        #{cmpycd}, #{itemcd}, #{linecd}, #{progcd}, #{progord}, #{capahh}, #{gadrate}, #{jungrate}, #{pqtytt}, #{gadtmdd}, #{pqtydd},
        getdate(), getdate(), #{updemp}
    )
    ]]>
  </insert>

  <update id="updatePdCapa" parameterType="com.crmbank.erp.hppl.dto.PdCapaDto">
    <![CDATA[
    update hpba200t_tbl
       set progord = #{progord},
           capahh = #{capahh},
           gadrate = #{gadrate},
           jungrate = #{jungrate},
           pqtytt = #{pqtytt},
           gadtmdd = #{gadtmdd},
           pqtydd = #{pqtydd},
           updtime = getdate(),
           updemp = #{updemp}
     where cmpycd = #{cmpycd}
       and itemcd = #{itemcd}
       and linecd = #{linecd}
       and progcd = #{progcd}
    ]]>
  </update>

  <delete id="deletePdCapa" parameterType="map">
    <![CDATA[
    delete from hpba200t_tbl
     where cmpycd = #{cmpycd} and itemcd = #{itemcd} and linecd = #{linecd} and progcd = #{progcd}
    ]]>
  </delete>

</mapper>
