<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crmbank.erp.hppl.mapper.PdOrderMapper">

    <!-- 작업지시 대상(계획) 조회 -->
    <select id="getPdOrderTargetList" parameterType="map" resultType="com.crmbank.erp.hppl.dto.PdOrderDto">
        select a.ordym, a.ordno, f.ordymd, a.custcd, c.custnm, a.yymmdd, a.gubun,
               case datepart(dw, convert(date, a.yymmdd)) when 1 then '일' when 2 then '월'
                                                          when 3 then '화' when 4 then '수' when 5 then '목'
                                                          when 6 then '금' when 7 then '토' end as day_nm,
               a.ser, a.napgiymd as napgi_dt, a.itemcd, b.itemnm, a.linecd, d.linenm, b.itsize, b.unit, a.progcd, e.prognm,
               a.planqty, a.ordqty, f.ordamt as suppamt
          from hppl160t_tbl a left join hsba010t_tbl b
            on a.cmpycd = b.cmpycd
           and a.itemcd = b.itemcd
               left join haba020t_tbl c
            on a.cmpycd = c.cmpycd
           and a.custcd = c.custcd
               left join hpba130t_tbl d
            on a.cmpycd = d.cmpycd
           and a.linecd = d.linecd
               left join hpba100t_tbl e
            on a.cmpycd = e.cmpycd
           and a.linecd = e.linecd
           and a.progcd = e.progcd
               left join hsio031t_tbl f
            on a.cmpycd = f.cmpycd
           and a.ordym = f.ordym
           and a.ordno = f.ordno
           and a.orowno = f.orowno
         where a.cmpycd = #{cmpycd}
           and a.yymmdd = #{yymmdd}
           and a.linecd = #{linecd}
           and isnull(a.planqty, 0) - isnull(a.ordqty, 0) > 0
         order by a.itemcd, a.linecd, a.progcd;
    </select>

    <!-- 작업지시 상세 목록 조회 (linecd 추가) -->
    <select id="getPdOrderList" parameterType="map" resultType="com.crmbank.erp.hppl.dto.PdOrderDto">
        select a.progcd, b.prognm, a.itemcd, c.itemnm, c.itsize, c.unit, a.planqty, a.gubun,
               isnull(d.ordqty, 0) as ordqty, d.lotno, isnull(d.ordymd, '') as ordymd,
               d.ordym, d.ordno,
               case when isnull(d.prodqty, 0) > 0 then 'n' else 'y' end as updyn,
               a.yymmdd, a.ser, a.linecd
          from hppl160t_tbl a
               left join hpba100t_tbl b
            on a.cmpycd = b.cmpycd
           and a.linecd = b.linecd
           and a.progcd = b.progcd
               left join hsba010t_tbl c
            on a.cmpycd = c.cmpycd
           and a.itemcd = c.itemcd
               left join hpio210t_tbl d
            on a.cmpycd = d.cmpycd
           and a.linecd = d.linecd
           and a.progcd = d.progcd
           and a.yymmdd = d.yymmdd
           and a.ser = d.ser
           and a.itemcd = d.itemcd
         where a.cmpycd = #{cmpycd}
           and a.linecd = #{linecd}
           and a.yymmdd = #{yymmdd}
           and d.lotno is not null
    </select>

    <select id="selectNewLotNo" resultType="string">
        SELECT dbo.lpad(isnull(max(cast(right(lotno, 3) as int)) + 1, 1), 3, '0')
          from hpio200t_tbl
        where cmpycd = #{cmpycd}
        and linecd = #{linecd}
        and itemcd = #{itemcd}
        and lotymd = #{ordymd}
    </select>

    <insert id="insertPdOrder" parameterType="com.crmbank.erp.hppl.dto.PdOrderDto">
        insert into HPIO210T_TBL(cmpycd, linecd, progcd, lotno, ordymd, lotymd, itemcd, itsize, unit,
                             lotsize, ordqty, prodqty, bigo, useyn, ordyn, gubun, yymmdd, ser,
                             ordym, ordno, addtime, updtime, updemp)
                     values (#{cmpycd},#{linecd},#{progcd},#{lotno},
                             #{ordymd},#{ordymd},#{itemcd},#{itsize},#{unit},
                             #{ordqty},#{ordqty},0,#{custnm},'Y','Y', #{gubun}, #{yymmdd},#{ser},
                             isnull(#{ordym}, left(#{ordymd}, 6)), #{ordno}, getdate(),getdate(),#{updemp})
    </insert>

    <insert id="insertPdLotNo" parameterType="com.crmbank.erp.hppl.dto.PdOrderDto">
        insert into HPIO200T_TBL(cmpycd, linecd, lotno, lotymd, itemcd, itsize, unit,
                                 lotsize, ordqty, stymd, toymd, bigo, useyn,
                                 ordym, ordno, addtime, updtime, updemp)
                         values(#{cmpycd}, #{linecd}, #{lotno}, #{ordymd}, #{itemcd}, #{itsize}, #{unit},
                                #{ordqty}, #{ordqty}, #{ordymd}, #{ordymd}, #{custnm}, 'Y',
                                isnull(#{ordym}, left(#{ordymd}, 6)), #{ordno}, getdate(),getdate(), #{updemp})
    </insert>

    <update id="updatePdOrder" parameterType="com.crmbank.erp.hppl.dto.PdOrderDto">
        update HPIO210T_TBL
           set ordqty = #{ordqty},
               lotsize = #{ordqty},
               updtime = getdate(),
               updemp = #{updemp}
         where cmpycd = #{cmpycd}
           and linecd = #{linecd}
           and progcd = #{progcd}
           and ordymd = #{ordymd}
           and lotno = #{lotno}
           and itemcd = #{itemcd}
           and isnull(ordno, '') = isnull(#{ordno}, '')
    </update>

    <update id="updatePdLotNo" parameterType="com.crmbank.erp.hppl.dto.PdOrderDto">
        update HPIO200T_TBL
           set ordqty = #{ordqty},
               lotsize = #{ordqty},
               updtime = getdate(),
               updemp = #{updemp}
         where cmpycd = #{cmpycd}
           and linecd = #{linecd}
           and lotymd = #{ordymd}
           and lotno = #{lotno}
           and itemcd = #{itemcd}
           and isnull(ordno, '') = isnull(#{ordno}, '')
    </update>

    <update id="updatePlanOrdQty">
        update HPPL160T_TBL
           set ordqty = isnull(ordqty, 0) + #{qty}
         where cmpycd = #{cmpycd}
           and yymmdd = #{yymmdd}
           and ser    = #{ser}
           and itemcd = #{itemcd}
    </update>

    <select id="selectPdOrderOne" parameterType="map" resultType="com.crmbank.erp.hppl.dto.PdOrderDto">
        select * from hpio210t_tbl
        where cmpycd = #{cmpycd}
          and linecd = #{linecd}
          and progcd = #{progcd}
          and ordymd = #{ordymd}
          and lotno  = #{lotno}
          and itemcd = #{itemcd}
    </select>

    <select id="selectProdQty" resultType="decimal">
        select isnull(prodqty, 0)
          from hpio210t_tbl
         where cmpycd = #{cmpycd}
           and linecd = #{linecd}
           and progcd = #{progcd}
           and ordymd = #{ordymd}
           and lotno = #{lotno}
           and itemcd = #{itemcd}
           and isnull(ordno, '') = isnull(#{ordno}, '')
    </select>

    <delete id="deletePdOrder">
        delete from hpio210t_tbl
         where cmpycd = #{cmpycd}
           and linecd = #{linecd}
           and progcd = #{progcd}
           and ordymd = #{ordymd}
           and lotno  = #{lotno}
           and itemcd = #{itemcd}
           and isnull(ordno, '') = isnull(#{ordno}, '')
    </delete>

    <delete id="deletePdLotNo">
        delete from hpio200t_tbl
         where cmpycd = #{cmpycd}
           and linecd = #{linecd}
           and lotymd = #{ordymd}
           and lotno  = #{lotno}
           and itemcd = #{itemcd}
           and isnull(ordno, '') = isnull(#{ordno}, '')
    </delete>
</mapper>
