<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hpio.mapper.HpioMapper">

    <!-- 외주가공비 정산  -->
    <select id="HPIO_110U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_110u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{custcd},
        #{deptcd}, #{ioym}, #{iono}, #{iorowno}, #{taxunit}, #{vattype},
        #{jsanym}, #{jsanno}, #{jsanymd}, #{jsanamt}, #{jsanvat}, #{updemp}
    </select>

    <!-- LOT 부여작업 -->
    <select id="HPIO_200U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_200u_str #{actkind}, #{cmpycd}, #{linecd}, #{lotymd}, #{lotno},
        #{itemcd}, #{itsize}, #{unit}, #{lotsize}, #{stymd}, #{todt},
        #{bigo}, #{useyn}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 작업지시서 -->
    <select id="HPIO_210U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_210u_str #{actkind}, #{cmpycd}, #{proymd}, #{linecd}, #{progcd},
        #{lotymd}, #{lotno}, #{itemcd}, #{itsize}, #{unit}, #{ordqty},
        #{bigo}, #{useyn}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 작업지시현황 -->
    <select id="HPIO_230S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_230s_str #{cmpycd}, #{linecd}, #{fromdt}, #{todt}
    </select>

    <!-- 자재불출요청 -->
    <select id="HPIO_250U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_250u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{outym}, #{outno}, #{outymd}, #{hope_inymd},
        #{deptcd}, #{whcd}, #{custcd}, #{linecd}, #{iwhcd}, #{gubun}, #{ordym}, #{ordno}, #{userid},
        #{bigo}, #{lotymd}, #{lotno}, #{itemcd}, #{ordqty}, #{outqty}, #{updemp}
    </select>

    <select id="HPIO_251U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_251u_str #{actkind}, #{cmpycd}, #{outym}, #{outno}, #{orowno}, #{outymd}, #{linecd},
                           #{lotymd}, #{lotno}, #{gubun}, #{ordym}, #{ordno},#{deptcd}, #{whcd}, #{itemcd},
                           #{mitemcd}, #{mitsize}, #{munit}, #{outqty}, #{ritemcd}, #{updemp}
    </select>
  
    <!-- 임가공/외주가공 계약 품의 -->
    <select id="HPIO_290U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_290u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{pumym}, #{pumno}, #{deptcd},
        #{pumgbn}, #{gelcnd}, #{custcd}, #{pumymd}, #{frymd}, #{toymd},
        #{cfmyn}, #{remark}, #{updemp}
    </select>

    <!-- 임가공/외주가공 계약 품의(상세) -->
    <select id="HPIO_291U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_291u_str #{actkind}, #{cmpycd}, #{pumym}, #{pumno}, #{itemcd},
        #{itsize}, #{unit}, #{price}, #{remark}, #{updemp}
    </select>

    <!-- 외주가공 자재 소요량     -->
    <select id="HPIO_292U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_292u_str #{actkind}, #{cmpycd}, #{pumym}, #{pumno}, #{itemcd},
        #{mitemcd}, #{mitsize}, #{munit}, #{soqty}, #{remark}, #{updemp}
    </select>


    <!-- 생산실적 -->
    <select id="HPIO_300U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_300u_str #{actkind}, #{prodid}, #{cmpycd}, #{linecd}, #{progcd},
        #{ordymd}, #{lotymd}, #{lotno}, #{ordym}, #{ordno}, #{proymd}, #{itemcd},
        #{itsize}, #{unit}, #{prdqty}, #{godqty}, #{errqty}, #{workmm}, #{mancnt}, #{manmm},
        #{whcd}, #{custcd}, #{equpcd}, #{prodcd}, #{wkgbn}, #{bigo}, #{useyn}, #{updemp}
    </select>


    <!-- 생산투입실적 -->
    <select id="HPIO_301U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_301u_str #{actkind}, #{prodid}, #{matlid}, #{cmpycd}, #{linecd}, #{progcd},
        #{ordymd}, #{lotymd}, #{lotno}, #{ordym}, #{ordno}, #{proymd}, #{itemcd},
        #{mitemcd}, #{mitsize}, #{munit}, #{soqty}, #{inqty}, #{useyn}, #{whcd},
        #{befprog}, #{astkind}, #{updemp}
    </select>

    <!-- 외주가공출고 MASTER proqty : 지시수량 -->
    <select id="HPIO_340U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_340u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{iogbn}, #{outym}, #{outno},
        #{prodcd}, #{linecd}, #{progcd},
        #{outymd}, #{odeptcd}, #{owhcd}, #{ocustcd}, #{itemcd}, #{itsize}, #{unit}, #{proqty}, #{proymd},
        #{ideptcd}, #{iwhcd}, #{remark}, #{inyn}, #{pumym}, #{pumno}, #{inym}, #{inno}, #{updemp}
    </select>

    <!-- 외주가공출고 상세 -->
    <select id="HPIO_341U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_341u_str #{actkind}, #{cmpycd}, #{iogbn}, #{outym}, #{outno}, #{iorowno}, #{inno},
        #{linecd}, #{progcd}, #{odeptcd}, #{owhcd}, #{custcd}, #{ioymd}, #{ideptcd},
        #{iwhcd}, #{itemcd}, #{unit}, #{ioqty}, #{pumym}, #{pumno}, #{updemp}
    </select>


    <!-- 생산실적(외주가공) -->
    <select id="HPIO_350U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_350u_str #{actkind}, #{cmpycd}, #{prodid}, #{linecd}, #{progcd}, #{custcd},
        #{ordymd},  #{proymd}, #{equpcd}, #{prodcd}, #{wkgbn}, #{whcd},
        #{itemcd}, #{itsize}, #{unit}, #{prdqty},  #{godqty}, #{errqty}, #{lotymd}, #{lotno},
        #{workmm}, #{bigo}, #{outym}, #{outno}, #{useyn}, #{updemp}
    </select>

    <!-- 생산투입실적(외주가공) -->
    <select id="HPIO_351U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_351u_str #{actkind}, #{cmpycd}, #{prodid}, #{matlid},
        #{mitemcd}, #{mitsize}, #{munit}, #{whcd},
        #{befprog}, #{astkind}, #{soqty}, #{inqty}, #{useyn}, #{updemp}
    </select>

    <select id="HPIO_360S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_360s_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{proymd}
    </select>

    <!-- 투입자재집계표 -->
    <select id="HPIO_370S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_370s_str #{cmpycd}, #{selgbn}, #{linecd}, #{progcd}, #{fromdt}, #{todt}
    </select>

    <!-- 투입자재현황 -->
    <select id="HPIO_380S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_380s_str #{cmpycd}, #{selgbn}, #{linecd}, #{progcd}, #{prodcd}, #{mitemcd}, #{fromdt}, #{todt}
    </select>

    <!-- 품목별 투입자재현황 -->
    <select id="HPIO_390S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_390s_str #{cmpycd}, #{linecd}, #{progcd}, #{fromdt}, #{todt}
    </select>

    <!-- 제품입고 -->
    <select id="HPIO_400U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_400u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{fromdt},
        #{todt}, #{ioymd}, #{whcd}, #{deptcd}, #{prodid},
        #{inqty}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{updemp}
    </select>

    <!-- 제품입고취소 -->
    <select id="HPIO_410U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_410u_str #{actkind}, #{cmpycd}, #{linecd}, #{progcd}, #{whcd},
        #{infromdt}, #{intodt}, #{equpcd}, #{prodcd}, #{workjo}, #{wkgbn},
        #{itemcd}, #{custcd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}
    </select>

    <!-- 제품입고현황 -->
    <select id="HPIO_420S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_420s_str #{cmpycd}, #{whcd}, #{fromdt}, #{todt}
    </select>

    <!-- 제품입고현황(상세) -->
    <select id="HPIO_430S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_430s_str #{cmpycd}, #{whcd}, #{itemcd}, #{fromdt}, #{todt}
    </select>

    <!-- 이관출고 MASTER -->
    <select id="HPIO_500U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_500u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{iogbn}, #{ioym}, #{iono},
        #{prodcd}, #{linecd}, #{progcd}, #{outymd}, #{odeptcd}, #{owhcd}, #{ocustcd}, #{itemcd},
        #{itsize}, #{unit}, #{proqty}, #{proymd}, #{ideptcd}, #{iwhcd}, #{remark}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 이관 출고내역 처리 -->
    <select id="HPIO_501U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_501u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{ono}, #{iorowno}, #{ino},
        #{linecd}, #{progcd}, #{odeptcd}, #{owhcd}, #{custcd}, #{ioymd}, #{ideptcd},
        #{iwhcd}, #{itemcd}, #{unit}, #{ioqty}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <!-- 타계정출고 MASTER -->
    <select id="HPIO_510U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_510u_str #{actkind}, #{cmpycd},#{fromdt}, #{todt}, #{iogbn}, #{ioym}, #{iono},
        #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{userid},
        #{inyn}, #{ino}, #{remark}, #{cfmyn}, #{updemp}
    </select>

    <!-- 타계정 출고내역 처리 -->
    <select id="HPIO_511U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_511u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno},
        #{deptcd}, #{custcd}, #{whcd}, #{userid}, #{ioymd}, #{iotype}, #{itemcd},
        #{itsize}, #{unit}, #{ino}, #{itemcd_t}, #{itsize_t}, #{unit_t},
        #{ioqty}, #{ioamt}, #{iovat}, #{usedept}, #{cfmyn}, #{updemp}
    </select>

    <!-- 재공타계정출고 MASTER -->
    <select id="HPIO_520U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_520u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{ioym}, #{iono}, #{ioymd},
        #{linecd}, #{progcd}, #{remark}, #{updemp}
    </select>

    <!-- 재공 타계정 출고내역 처리 -->
    <select id="HPIO_521U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_521u_str #{actkind}, #{cmpycd}, #{outym}, #{outno}, #{trowno}, #{linecd}, #{progcd}, #{outymd},
        #{tatype}, #{itemcd}, #{itsize}, #{unit}, #{qty}, #{amt}, #{deptcd}, #{custcd}, #{remark}, #{cfmyn}, #{updemp}
    </select>


    <!-- 입출고현황 -->
    <select id="HPIO_640S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_640s_str #{cmpycd}, #{whcd}, #{fromdt}, #{tymd}, #{astkind}
    </select>

    <!-- 창고 입출고 현황 -->
    <select id="HPIO_650S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_650s_str #{cmpycd}, #{whcd}, #{fromdt}, #{tymd}, #{astkind}, #{itemcd}
    </select>

    <!-- 공정별 입출고현황 -->
    <select id="HPIO_660S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_660s_str #{cmpycd}, #{linecd}, #{progcd}, #{fromdt}, #{tymd}
    </select>

    <!-- 입고현황 -->
    <select id="HPIO_710S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_710s_str #{cmpycd}, #{whcd}, #{iotype}, #{fromdt}, #{todt}, #{custcd}, #{itemcd}
    </select>

    <!-- 창고별현재고 -->
    <select id="HPIO_720S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_720s_str #{cmpycd}, #{ymd}, #{whcd}, #{astkind}
    </select>


    <!-- 출고의뢰서 관리 -->
    <select id="HPIO_850S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_850s_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{linecd},
        #{progcd}, #{slipyn}, #{iogbn}, #{ioym}, #{iono}, #{custcd}, #{prodcd}
    </select>

    <!-- 외주가공생산실적등록 -->
    <select id="HPIO_870U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_870u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{linecd},
        #{progcd}, #{slipyn}, #{iogbn}, #{ioym}, #{iono}, #{custcd}, #{prodcd}, #{updemp}
    </select>

    <!-- 작업지시 팝업 조회 (HPIO250U용) -->
    <select id="HPIO_250U_POP" resultType="java.util.LinkedHashMap">
        select a.linecd, a.lotymd, a.lotno, a.itemcd as itemcd, b.itemnm as itemnm, a.itsize, a.unit,
               isnull(a.ordqty, 0) as ordqty, isnull(a.outqty, 0) as outqty,
               isnull(a.prodqty, 0) as prodqty, c.linenm, a.gubun, a.ordym, a.ordno
        from HPIO210T_TBL a
        left join HSBA010T_TBL b on a.cmpycd = b.cmpycd and a.itemcd = b.itemcd
        left join HPBA130T_TBL c on a.cmpycd = c.cmpycd and a.linecd = c.linecd
        where a.cmpycd = #{cmpycd}
          and a.linecd = #{linecd}
          and a.ordymd between #{frymd} and #{toymd}
          and isnull(a.ordqty, 0) > isnull(a.outqty, 0)
    </select>

    <!-- 자재불출요청 상세 (상세내역용) -->
    <select id="HPIO_251S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_251s_str #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <select id="HPIO_252S_STR" resultType="java.util.LinkedHashMap">
        exec hpio_252s_str #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <!-- 자재불출 품목내역 처리 (집계테이블) -->
    <select id="HPIO_253U_STR" resultType="java.util.LinkedHashMap">
        exec hpio_253u_str #{actkind}, #{cmpycd}, #{outym}, #{outno}, #{mitemcd}, #{mitsize}, #{munit}, #{reqqty}, #{updemp}
    </select>

    <select id="HPIO_340U_POPUP" parameterType="map">
        select a.pumym, a.pumno,  a.custcd, i.custnm, j.deptnm, k.usernm,
            a.pumymd,b.itemcd, e.itemnm, e.itsize,e.unit,   b.price
            from hpba300t_tbl a left outer join hpba301t_tbl b
            on a.cmpycd = b.cmpycd
            and a.pumym = b.pumym
            and a.pumno = b.pumno
            left outer join hsba010t_tbl e
            on b.cmpycd  = e.cmpycd
            and b.itemcd  = e.itemcd
            left outer join haba020t_tbl i
            on a.cmpycd = i.cmpycd and a.custcd = i.custcd
            left outer join haba120t_tbl j
            on a.cmpycd = j.cmpycd and a.deptcd = j.deptcd
            left outer join haba920t_tbl k
            on a.cmpycd = k.cmpycd
            and a.updemp = k.userid
      where a.cmpycd  =  #{cmpycd}
        and a.pumymd between  #{fromdt} and  #{todt}
    </select>
</mapper>
