<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	=============================================================
	프로그램명	  : 제품검사의뢰관리
    프로그램 ID	: PD_INSP_REQ
	작성일자	    : 25.05.22
	작성자	      : AI Assistant
	설명         : 제품검사의뢰 Mapper XML
	=============================================================
-->

<mapper namespace="com.crmbank.erp.hpio.mapper.PdInspReqMapper">

  <!-- 제품검사의뢰 대상 조회 (생산실적 기반) -->
  <select id="getPdInspReqTargetList" parameterType="map" resultType="com.crmbank.erp.hpio.dto.PdInspReqDto">
      select
      a.prodid,
      a.linecd,
      a.ordymd,
      a.lotno,
      a.proymd,
      a.progcd,
      p.prognm,
      a.itemcd,
      b.itemnm,
      a.prdqty,
      r.insp_req_dt,
      r.insp_req_no,
      r.insp_how,
      r.judg_cd
      from hpio220t_tbl a inner join hsba010t_tbl b
        on a.cmpycd = b.cmpycd
       and a.itemcd = b.itemcd
           left outer join hpba100t_tbl p
        on a.cmpycd = p.cmpycd
       and a.progcd = p.progcd
           left outer join pd_insp_req r
        on a.cmpycd = r.cmpycd
       and a.prodid = r.prodid
       and r.insp_gb = #{insp_gb}
     where a.cmpycd = #{cmpycd}
       and a.linecd = #{linecd}
       and a.proymd between #{proymd_fr} and #{proymd_to}
       and ( (#{insp_gb} = '200' and b.astkind = '210')
        or (#{insp_gb} = '300' and b.astkind = '200' and a.progcd = ( select top 1 progcd
                                                                        from hpba200t_tbl
                                                                       where cmpycd = a.cmpycd
                                                                         and linecd = a.linecd
                                                                         and itemcd = a.itemcd
                                                                       order by progord desc
                                                                      )
           )
      )
      order by
      a.proymd desc,
      a.itemcd asc,
      a.prodid desc;
<!--      -->
<!--      select a.ordymd,-->
<!--           a.lotno,-->
<!--           a.proymd,-->
<!--           a.progcd,-->
<!--           x.prognm,-->
<!--           a.itemcd,-->
<!--           b.itemnm,-->
<!--           a.prdqty,-->
<!--		   c.insp_how,-->
<!--           c.insp_gb,-->
<!--           c.insp_req_dt,-->
<!--           c.insp_req_no-->
<!--      from HPIO220T_TBL a-->
<!--      left outer join HSBA010T_TBL b on a.cmpycd = b.cmpycd and a.itemcd = b.itemcd-->
<!--      left outer join pd_insp_req c on a.cmpycd = c.cmpycd and c.insp_gb = #{insp_gb} and a.linecd = c.linecd-->
<!--                                   and a.progcd = c.progcd and a.ordymd = c.ordymd and a.lotno = c.lotno-->
<!--                                   and a.proymd = c.proymd and a.itemcd = c.itemcd-->
<!--      left outer join HPBA100T_TBL x on a.cmpycd = x.cmpycd and a.progcd = x.progcd-->
<!--     where a.cmpycd = #{cmpycd}-->
<!--       and a.linecd  = #{linecd}-->
<!--       and a.proymd between #{proymd_fr} and #{proymd_to}-->
<!--       and b.astkind = '200'-->
<!--       <if test="progcd != null and progcd != ''">-->
<!--       and a.progcd = #{progcd}-->
<!--       </if>-->
<!--       <if test="progcd == null or progcd == ''">-->
<!--       and a.progcd = (-->
<!--           select TOP 1 progcd from HPBA200T_TBL-->
<!--            where cmpycd = #{cmpycd} and linecd = #{linecd}-->
<!--            order by progord desc-->
<!--       )-->
<!--       </if>-->
<!--     group by a.ordymd, a.lotno, a.proymd, a.progcd, x.prognm, a.itemcd, b.itemnm, a.prdqty, c.insp_how, c.insp_gb, c.insp_req_dt, c.insp_req_no-->
<!--     having ISNULL(a.prdqty, 0) > 0-->
<!--     order by a.proymd, a.itemcd-->
  </select>

  <!-- 제품검사의뢰 저장 (Insert) -->
  <insert id="insertPdInspReq" parameterType="com.crmbank.erp.hpio.dto.PdInspReqDto">
    <selectKey keyProperty="insp_req_no" resultType="string" order="BEFORE">
        select dbo.lpad(isnull(max(insp_req_no) + 1,1),3,'0')
          from pd_insp_req
         where cmpycd     = #{cmpycd}
           and insp_gb     = #{insp_gb}
           and insp_req_dt = #{insp_req_dt}
    </selectKey>
    insert into pd_insp_req (
        cmpycd, insp_gb, insp_req_dt, insp_req_no, prodid, linecd, progcd, ordymd, lotno, proymd, itemcd, insp_how,
        prdqty, godqty, errqty, addtime, updtime, updemp
    ) values (
        #{cmpycd}, #{insp_gb}, #{insp_req_dt}, #{insp_req_no}, #{prodid}, #{linecd}, #{progcd}, #{ordymd}, #{lotno}, #{proymd}, #{itemcd}, #{insp_how},
        #{prdqty}, 0, 0, GETDATE(), GETDATE(), #{updemp}
    )
  </insert>

  <!-- 검사진행 여부 확인 -->
  <select id="selectInspResultCount" resultType="int">
    select count(*)
      from pd_insp_rslt_m
     where cmpycd     = #{cmpycd}
       and insp_gb     = #{insp_gb}
       and insp_req_dt = #{insp_req_dt}
       and insp_req_no = #{insp_req_no}
  </select>

  <!-- 제품검사의뢰 삭제 (의뢰 취소) -->
  <delete id="deletePdInspReq">
    delete from pd_insp_req
     where cmpycd     = #{cmpycd}
       and insp_gb     = #{insp_gb}
       and insp_req_dt = #{insp_req_dt}
       and insp_req_no = #{insp_req_no}
  </delete>

</mapper>
