<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hsio.mapper.HsioMapper">

    <select id="HSIO_010U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_010u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptnm}, #{reqym}, #{reqno}, #{asgbn}, #{reqymd}, #{inymd}, #{whcd}, #{deptcd}, #{remark}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_011U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_011u_str #{actkind}, #{cmpycd}, #{reqym}, #{reqno}, #{rrowno}, #{deptcd}, #{whcd}, #{itemcd}, #{itsize}, #{unit}, #{reqymd}, #{reqqty}, #{imprice}, #{reqamt}, #{custcd}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_020U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_020u_str #{actkind}, #{cmpycd}, #{reqym}, #{reqno}, #{asgbn}, #{reqymd}, #{inymd}, #{whcd}, #{deptcd}, #{remark}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_021U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_021u_str #{actkind}, #{cmpycd}, #{reqym}, #{reqno}, #{rrowno}, #{deptcd}, #{whcd}, #{itemcd}, #{itsize}, #{unit}, #{reqymd}, #{reqqty}, #{imprice}, #{reqamt}, #{custcd}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_050U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_050u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{balym}, #{balno}, #{gubun}, #{balymd}, #{reqymd}, #{custcd}, #{deptcd}, #{remark}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_051U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_051u_str #{actkind}, #{cmpycd}, #{balym}, #{balno}, #{browno}, #{deptcd}, #{custcd}, #{itemcd}, #{itsize}, #{unit}, #{pkunit}, #{balymd}, #{balqty}, #{balamt}, #{balvat}, #{scustcd}, #{scustnm}, #{reqym}, #{reqno}, #{rrowno}, #{updemp}, #{ordym}, #{ordno}
    </select>

    <select id="HSIO_052U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_052u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{balym}, #{balno}, #{balymd}, #{reqymd}, #{custcd}, #{deptcd}, #{remark}, #{updemp}
    </select>

    <select id="HSIO_060U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_060u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{custcd}, #{ioym}, #{iono}, #{ioymd}, #{iotype}, #{whcd}, #{address}, #{remark}, #{cfmyn}, #{updemp}
    </select>

    <select id="HSIO_061U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_061u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{ioymd}, #{iotype}, #{itemcd}, #{itsize}, #{unit}, #{ioqty}, #{ioamt}, #{iovat}, #{balym}, #{balno}, #{browno}, #{cfmyn}, #{scustcd}, #{scustnm}, #{updemp}, #{ordym}, #{ordno}
    </select>

    <select id="HSIO_070U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_070u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{custcd}, #{ioym}, #{iono}, #{updemp}
    </select>

    <select id="HSIO_080S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_085s_str #{cmpycd}, #{deptcd}, #{custcd}, #{custnm}, #{fromdt}, #{todt}
    </select>

    <select id="HSIO_082S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_082s_str #{cmpycd}, #{fromdt}, #{todt}, #{ordym}, #{ordno}, #{custcd}, #{userid}, #{ipgoyn}, #{remark}
    </select>

    <select id="HSIO_085S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_085s_str #{cmpycd}, #{deptcd}, #{custcd}, #{custnm}, #{fromdt}, #{todt}
    </select>

    <select id="HSIO_100U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_100u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{address}, #{remark}, #{cfmyn}, #{gubun}, #{totsum}, #{updemp}
    </select>

    <select id="HSIO_101U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_101u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{ioymd}, #{iotype},
        #{itemcd}, #{itsize}, #{unit}, #{pkunit}, #{ioqty}, #{ioamt}, #{iovat}, #{cfmyn}, #{scustcd}, #{scustnm}, #{updemp}
    </select>

    <select id="HSIO_110U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_110u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{custcd}, #{deptcd}, #{ioym}, #{iono}, #{iorowno}, #{taxunit}, #{vattype}, #{jsanym}, #{jsanno}, #{jsanymd}, #{jsanamt}, #{jsanvat}, #{updemp}
    </select>

    <select id="HSIO_120U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_120u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{custcd}, #{deptcd}, #{jsanym}, #{jsanno}, #{updemp}
    </select>

    <select id="HSIO_130U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_130u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{jsanym}, #{jsanno}, #{jsanymd}, #{spyamt}, #{vatamt}, #{custcd}, #{taxunit}, #{vattype}, #{slipymd}, #{slipno}, #{cardyn}, #{cardno}, #{updemp}
    </select>

    <select id="HSIO_131U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_131u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{jsanym}, #{jsanno}, #{jsanymd}, #{spyamt}, #{vatamt}, #{custcd}, #{taxunit}, #{vattype}, #{slipymd}, #{slipno}, #{cardyn}, #{cardno}, #{slipkind}, #{hdeptcd}, #{business}, #{updemp}
    </select>

    <select id="HSIO_140U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_140u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_141U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_141u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_160U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_160u_str #{procgbn}, #{cmpycd}, #{jsanym}, #{jsanno}, #{ioym}, #{iono}, #{iorowno}, #{custcd}, #{deptcd}, #{itemcd}, #{halymd}, #{inqty}, #{inamt}, #{halamt}, #{halrate}, #{divgbn}, #{updemp}
    </select>

    <select id="HSIO_170U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_170u_str #{actkind}, #{cmpycd}, #{jsanym}, #{custcd}, #{halamt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_171U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_171u_str #{actkind}, #{cmpycd}, #{jsanym}, #{custcd}, #{halamt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_180U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_180u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_181U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_181u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_190U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_190u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{iogbn}, #{ioym}, #{iono},
        #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{address}, #{remark}, #{cfmyn}, #{gubun}, #{totsum}, #{updemp}
    </select>

    <select id="HSIO_191U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_191u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno},
        #{deptcd}, #{custcd}, #{whcd}, #{ioymd}, #{iotype}, #{itemcd}, #{itsize}, #{unit},
        #{pkunit}, #{ioqty}, #{ioamt}, #{iovat}, #{cfmyn}, #{scustcd}, #{scustnm}, #{outno}, #{updemp}
    </select>

    <select id="HSIO_200S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_200s_str #{cmpycd}, #{whcd}, #{fromdt}, #{todt}, #{iotype}, #{custcd}, #{ordym}, #{ordno}, #{userid}
    </select>

    <select id="HSIO_210S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_210s_str #{cmpycd}, #{whcd}, #{iotype}, #{fromdt}, #{todt}, #{custcd}, #{itemcd}
    </select>

    <select id="HSIO_215S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_215s_str #{actkind}, #{cmpycd}, #{iogbn}, #{whcd}, #{fromdt}, #{todt}, #{custcd}, #{ioym}, #{iono}, #{slipyn}
    </select>

    <select id="HSIO_220S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_220s_str #{cmpycd}, #{fromdt}, #{todt}
    </select>

    <select id="HSIO_250U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_250u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{iogbn}, #{ioym}, #{iono}, #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{addres}, #{remark}, #{cfmyn}, #{gubun}, #{totsum}, #{updemp}
    </select>

    <select id="HSIO_251U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_251u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{ioymd}, #{iotype}, #{itemcd}, #{itsize}, #{unit}, #{pkunit}, #{ioqty}, #{ioamt}, #{iovat}, #{cfmyn}, #{scustcd}, #{scustnm}, #{updemp}
    </select>

    <select id="HSIO_300U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_300u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{imym}, #{imno}, #{imrowno}, #{deptcd}, #{custcd}, #{imymd}, #{remark}, #{imtype}, #{imamt}, #{mgtno}, #{pubymd}, #{endymd}, #{billgbn}, #{billamt}, #{pubbank}, #{pubman}, #{slipyn}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_301U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_301u_str #{actkind}, #{cmpycd}, #{custcd}, #{iogbn}, #{ioym}, #{iono}, #{imym}, #{imno}, #{imrowno}, #{imymd}, #{maeamt}, #{imamt}, #{deptcd}, #{userid}
    </select>

    <select id="HSIO_320U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_320u_str #{actkind}, #{cmpycd}, #{deptcd}, #{imymdfr}, #{imymdto},
        #{userid}, #{imym}, #{imno}, #{imymd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_325U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_325u_str #{actkind}, #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}, #{userid}, #{iogbn}, #{imym}, #{imno}, #{slipkind}, #{slipymd}, #{slipno}, #{dacctcd}, #{dacctnm}, #{cacctcd}, #{cacctnm}, #{imamt}, #{remark}, #{custcd}, #{custnm}, #{updemp}
    </select>

    <select id="HSIO_410S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_410s_str #{cmpycd}, #{deptcd}, #{custcd}, #{fromdt}, #{todt}
    </select>

    <select id="HSIO_470S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_470s_str #{cmpycd}, #{deptcd}, #{custcd}, #{fromdt}, #{todt}, #{itemcd}
    </select>

    <select id="HSIO_490U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_490u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{iogbn}, #{ioym}, #{iono}, #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{area}, #{userid}, #{trnemp}, #{trancd}, #{address}, #{remark}, #{cfmyn}, #{totsum}, #{updemp}
    </select>

    <select id="HSIO_491U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_491u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{area}, #{userid}, #{ioymd}, #{iotype}, #{itemcd}, #{itsize}, #{unit}, #{ioqty}, #{ioamt}, #{iovat}, #{cfmyn}, #{ino}, #{updemp}
    </select>

    <select id="HSIO_500U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_500u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{iogbn},
        #{ioym}, #{iono}, #{ioymd}, #{iotype}, #{custcd}, #{deptcd}, #{whcd}, #{area},
        #{saleuserid}, #{trnemp}, #{trancd}, #{postno}, #{address}, #{d_address}, #{remark},
        #{cfmyn}, #{totsum}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_501U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_501u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{area}, #{saleuserid}, #{ioymd}, #{iotype}, #{itemcd}, #{itsize}, #{unit}, #{ioqty}, #{ioamt}, #{iovat}, #{cfmyn}, #{updemp}
    </select>

    <select id="HSIO_510U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_510u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{custcd}, #{deptcd}, #{ioym}, #{iono}, #{iorowno}, #{taxunit}, #{vattype}, #{jsanym}, #{jsanno}, #{jsanymd}, #{jsanqty}, #{jsanamt}, #{jsanvat}, #{updemp}
    </select>

    <select id="HSIO_511U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_511u_str #{actkind}, #{cmpycd}, #{iogbn}, #{yymm}, #{sungb}, #{custcd}, #{deptcd}, #{ioym}, #{iono}, #{iorowno}, #{taxunit}, #{vattype}, #{jsanym}, #{jsanno}, #{jsanymd}, #{jsanqty}, #{jsanamt}, #{jsanvat}, #{updemp}
    </select>

    <select id="HSIO_520U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_520u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{custcd}, #{jsanym}, #{jsanno}, #{updemp}
    </select>

    <select id="HSIO_521U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_521u_str #{actkind}, #{cmpycd}, #{iogbn}, #{yymm}, #{sungb}, #{deptcd}, #{custcd}, #{jsanym}, #{jsanno}, #{updemp}
    </select>

    <select id="HSIO_530U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_530u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{jsanym}, #{jsanno}, #{jsanymd}, #{spyamt}, #{vatamt}, #{custcd}, #{taxunit}, #{vattype}, #{slipymd}, #{slipno},  #{updemp}
    </select>

    <select id="HSIO_531U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_531u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{jsanym}, #{jsanno}, #{jsanymd}, #{spyamt}, #{vatamt}, #{custcd}, #{taxunit}, #{vattype}, #{slipymd}, #{slipno}, #{slipkind}, #{hdeptcd}, #{business}, #{updemp}
    </select>

    <select id="HSIO_540U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_540u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_541U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_541u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <select id="HSIO_550U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_550u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{custcd},
        #{deptcd}, #{ioym}, #{iono}, #{ioymd}, #{iotype}, #{whcd}, #{area}, #{userid},
        #{trnemp}, #{trancd}, #{addres}, #{d_address}, #{remark}, #{cfmyn}, #{totsum}, #{updemp}
    </select>

    <select id="HSIO_551U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_551u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{area}, #{userid}, #{ioymd}, #{iotype}, #{itemcd}, #{itsize}, #{unit}, #{ioqty}, #{ioamt}, #{iovat}, #{balym}, #{balno}, #{browno}, #{cfmyn}, #{updemp}
    </select>

    <select id="HSIO_560U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_560u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{whcd}, #{custcd}, #{ioym}, #{iono}, #{iorowno}, #{updemp}
    </select>

    <select id="HSIO_570U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_570u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{deptnm}, #{iogbn}, #{ioym}, #{iono}, #{ioymd}, #{iotype},
        #{custcd}, #{deptcd}, #{whcd}, #{userid}, #{inyn}, #{ino}, #{remark}, #{cfmyn}, #{updemp}
    </select>

    <select id="HSIO_571U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_571u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{deptcd}, #{custcd}, #{whcd}, #{userid}, #{ioymd}, #{iotype},
        #{itemcd}, #{itsize}, #{unit}, #{ino}, #{itemcd_t}, #{itsize_t}, #{unit_t}, #{ioqty}, #{ioamt}, #{iovat}, #{usedept}, #{cfmyn}, #{updemp}
    </select>

    <select id="HSIO_580U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_580u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt},  #{iogbn}, #{ioym},
        #{iono}, #{ioymd}, #{odeptcd}, #{owhcd}, #{ideptcd}, #{iwhcd}, #{remark}, #{updemp}
    </select>

    <select id="HSIO_581U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_581u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iorowno}, #{ino},
        #{odeptcd}, #{owhcd}, #{ioymd}, #{ideptcd}, #{iwhcd}, #{itemcd}, #{unit}, #{ioqty}, #{ordym}, #{ordno}, #{updemp}
    </select>

    <select id="HSIO_590U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_590u_str #{actkind}, #{cmpycd}, #{iogbn}, #{fromdt}, #{todt}, #{deptcd}, #{custcd},
        #{saleuserid}, #{taxunit}, #{vattype}, #{jsanymd},  #{jsanamt}, #{jsanvat}, #{updemp}
    </select>

    <select id="HSIO_600S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_600s_str #{cmpycd}, #{whcd}, #{fromdt}, #{todt}, #{iotype}, #{custcd}
    </select>

    <select id="HSIO_610S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_610s_str #{cmpycd}, #{whcd}, #{iotype}, #{fromdt}, #{todt}, #{custcd}, #{itemcd}
    </select>

    <select id="HSIO_620S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_620s_str #{actkind}, #{cmpycd}, #{iogbn}, #{whcd}, #{fromdt}, #{todt}, #{custcd}, #{ioym}, #{iono}, #{slipyn}
    </select>

    <select id="HSIO_640S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_640s_str #{cmpycd}, #{whcd}, #{fromdt}, #{todt}, #{astkind}
    </select>

    <select id="HSIO_650S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_650s_str #{cmpycd}, #{whcd}, #{fromdt}, #{todt}, #{astkind}, #{itemcd}
    </select>

    <select id="HSIO_660S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_660s_str #{cmpycd}, #{trnemp}, #{outymd}
    </select>

    <select id="HSIO_680S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_680s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}
    </select>

    <select id="HSIO_690S_STR" resultType="java.util.LinkedHashMap">
        exec hsio_690s_str #{cmpycd}, #{deptcd}, #{fromdt}, #{todt}
    </select>

    <select id="HSIO_720U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_720u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{deptcd}, #{whcd}, #{ioymd}, #{remark}, #{lotno}, #{updemp}
    </select>

    <select id="HSIO_721U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_721u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{ino}, #{iorowno}, #{ono}, #{deptcd}, #{whcd}, #{ioymd}, #{itemcd}, #{unit}, #{ioqty}, #{ioamt}, #{updemp}
    </select>

    <select id="HSIO_730U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_730u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{deptcd}, #{whcd}, #{ioymd}, #{remark}, #{updemp}
    </select>

    <select id="HSIO_731U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_731u_str #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{ino}, #{iorowno}, #{ono}, #{deptcd}, #{whcd}, #{ioymd}, #{itemcd}, #{unit}, #{ioqty}, #{ioamt}, #{updemp}
    </select>

    <!-- 🚀 생산불출 연동 (사용자 정의 12파라미터 규격 복사) -->
    <select id="HSIO_600U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_600u_str #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{whcd}, #{outym}, #{outno}, #{mitemcd}, #{ioym}, #{iono}, #{outqty}, #{updemp}
    </select>

    <select id="HSIO_990U_STR" resultType="java.util.LinkedHashMap">
        exec hsio_990u_str #{actkind}, #{cmpycd}, #{slipkind}, #{deptcd}, #{fromdt}, #{todt}, #{cfmyn}, #{slipymd}, #{slipno}, #{updemp}
    </select>

    <!-- 🚀 외부전표전송 상세 조회 (ASP SELECT문 이식) -->
    <select id="getSlipDetailsForTransfer" resultType="java.util.LinkedHashMap">
        SELECT A.SLIPYMD,  A.SLIPNO, B.SROWNO, B.ACCTCD,
               CASE  WHEN B.DBAMT > 0  THEN  '1' ELSE '2' END AS DRCR_FG, B.REMARK,
               ISNULL(CASE  WHEN B.DBAMT > 0  THEN  B.DBAMT ELSE B.CRAMT END,0) AS AMT,
               ISNULL(C.OUTCUSTCD, '0000000000') AS CUSTCD, ISNULL(B.MGTNO, '') AS MGTNO,
               A.ACCTYMD, ISNULL(B.FRGNRATE, 0) AS FRGNRATE,
               ISNULL(CASE B.ACCTCD WHEN '13500' THEN B.DBAMT * 10
                                    WHEN '25500' THEN B.CRAMT * 10
                                    ELSE '0'
                                    End, 0) AS SUP_AMT,
               CASE A.SLIPGU	WHEN '030' THEN '21'
                                WHEN '031' THEN '25'
                                WHEN '040' THEN '11'
                                WHEN '041' THEN '16'
                                ELSE '00'
                                End AS TAX_TYPE,
               B.FRGNKIND, ISNULL(B.FRGNAMT, 0) AS FRGNAMT,  A.BUSINESS, C.CUSTNM
          FROM HSIO230T_TBL A LEFT OUTER JOIN HSIO240T_TBL B
            ON A.CMPYCD	= B.CMPYCD
           AND A.SLIPYMD	= B.SLIPYMD
           AND A.SLIPNO	= B.SLIPNO
               LEFT OUTER JOIN HABA020T_TBL C
            ON B.CMPYCD	= C.CMPYCD
           AND B.CUSTCD	= C.CUSTCD
         WHERE A.CMPYCD     = #{cmpycd}
           AND A.SLIPYMD	= #{slipymd}
           AND A.SLIPNO	= #{slipno}
    </select>

</mapper>
