<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hafa.mapper.HafaMapper">

    <!-- 자산이력관리 조회 및 처리 -->
    <select id="HAFA_010U_STR" resultType="java.util.LinkedHashMap">
        exec hafa_010u_str
            #{actkind}, #{cmpycd}, #{ym}, #{rowno}, #{fromdt}, #{todt},
            #{acctcd}, #{asetcd}, #{asetnm}, #{proctype},
            #{procymd}, #{procqty}, #{procamt}, #{remark}, #{deptcd},
            #{dprstype}, #{costtype}, #{legalyy}, #{gagamyy}, #{asetrate}, #{useyn},
            #{userid}
    </select>

    <!-- 자산이력조회 -->
    <select id="HAFA_020S_STR" resultType="java.util.LinkedHashMap">
        exec hafa_020s_str #{actkind}, #{cmpycd}, #{acctcd}, #{asetcd}
    </select>

    <!-- 고정자산대장 조회 -->
    <select id="HAFA_040S_STR" resultType="java.util.LinkedHashMap">
        exec hafa_040s_str #{cmpycd}, #{baseym}, #{acctcd}
    </select>

    <!-- 고정자산관리 조회 및 처리 -->
    <select id="HAFA_050U_STR" resultType="java.util.LinkedHashMap">
        exec hafa_050u_str
            #{actkind}, #{cmpycd}, #{baseym}, #{acctcd}, #{asetcd}, #{asetnm},
            #{pchymd}, #{pchqty}, #{pchamt}, #{remark}, #{deptcd},
            #{dprstype}, #{costtype}, #{legalyy}, #{gagamyy}, #{asetrate},
            #{baseamt}, #{dprssum}, #{useyn}, #{userid}
    </select>

    <!-- 감가상각계산 처리 -->
    <select id="HAFA_090U_STR" resultType="java.util.LinkedHashMap">
        exec hafa_090u_str #{cmpycd}, #{baseym}
    </select>

    <!-- 감가상각명세서 조회 -->
    <select id="HAFA_120S_STR" resultType="java.util.LinkedHashMap">
        exec hafa_120s_str #{cmpycd}, #{baseym}
    </select>

    <select id="HAFA_130S_STR" resultType="java.util.LinkedHashMap">
        exec hafa_130s_str #{cmpycd}, #{ym}
    </select>

    <select id="HAFA_150U_STR" resultType="java.util.LinkedHashMap">
        exec hafa_150u_str #{cmpycd}, #{ym}
    </select>

    <select id="HAFA_900U_STR" resultType="java.util.LinkedHashMap">
        exec hafa_900u_str #{actkind}, #{cmpycd}, #{acctcd}, #{cacctcd}, #{cacctnm},
        #{macctcd}, #{macctnm}, #{sacctcd}, #{sacctnm}, #{useyn}, #{updemp}
    </select>

     <!-- 월별 감가상각명세서 헤더 조회 -->
    <select id="HA00_150S_STR" resultType="java.util.LinkedHashMap">
        exec ha00_150s_str #{cmpycd}, #{baseym}
    </select>

    <!-- 월별 감가상각명세서 조회 -->
    <select id="HAFA_140S_STR" resultType="java.util.LinkedHashMap">
        exec hafa_140s_str #{cmpycd}, #{baseym}, #{acctcd}
    </select>

</mapper>
