<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hsod.mapper.HsodMapper">

    <select id="HSOD_100U_STR" resultType="java.util.LinkedHashMap">
        exec hsod_100u_str
            #{actkind}, #{cmpycd}, #{fromdt}, #{todt}, #{custnm}, #{ordym}, #{ordno}, #{ordkind},
            #{deptcd}, #{custcd}, #{whcd}, #{area}, #{ordymd},
            #{ordemp}, #{paycndt}, #{outymd}, #{trancd}, #{postno}, #{address}, #{d_address},
            #{remark}, #{totsum}, #{sts}, #{updemp}, #{tranamt}
    </select>

    <select id="HSOD_101U_STR" resultType="java.util.LinkedHashMap">
        exec hsod_101u_str
            #{actkind}, #{cmpycd}, #{ordym}, #{ordno}, #{orowno},
            #{ordymd}, #{deptcd}, #{custcd}, #{itemcd}, #{unit},
            #{ordqty}, #{pctype}, #{ordamt}, #{ordvat}, #{updemp}
    </select>

    <select id="HSOD_200U_STR" resultType="java.util.LinkedHashMap">
        exec hsod_200u_str
        #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iotype}, #{ioymd}, #{userid},
        #{cfmyn}, #{slipyn}, #{fromdt}, #{todt}, #{whcd}, #{deptcd}, #{updemp}
    </select>

    <select id="HSOD_110S_STR" resultType="java.util.LinkedHashMap">
        exec hsod_110s_str #{cmpycd}, #{deptcd}, #{custcdfr}, #{custcdto}, #{fromdt}, #{todt}
    </select>

    <select id="HSOD_120U_STR" resultType="java.util.LinkedHashMap">
        exec hsod_120u_str #{actkind}, #{cmpycd},
        #{ordkind}, #{selgbn}, #{fromdt}, #{todt}, #{ordym}, #{ordno}, #{outymd},
        #{deptcd}, #{whcd}, #{ordemp}, #{updemp}
    </select>

    <select id="HSOD_210U_STR" resultType="java.util.LinkedHashMap">
        exec hsod_210u_str #{actkind}, #{cmpycd}, #{gbn}, #{fromdt}, #{todt}, #{ioym}, #{iono},
        #{custcd}, #{deptcd}, #{ioymd}, #{ioamt}, #{iovat}, #{remark}, #{updemp}
    </select>

    <select id="HSOD_300U_STR" resultType="java.util.LinkedHashMap">
        exec hsod_300u_str
        #{actkind}, #{cmpycd}, #{iogbn}, #{ioym}, #{iono}, #{iotype}, #{ioymd}, #{userid},
        #{cfmyn}, #{slipyn}, #{fromdt}, #{todt}, #{whcd}, #{deptcd}, #{updemp}
    </select>

</mapper>
