<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hapl.mapper.HaplMapper">

    <!-- 배부기준관리 조회 및 처리 -->
    <select id="HAPL_010U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_010u_str
            #{actkind}, #{cmpycd}, #{gubun}, #{divgbn}, #{divcd}, #{divnm},
            #{rate1}, #{rate2}, #{rate3}, #{remark}, #{dspord}, #{useyn},
            #{userid}
    </select>

    <!-- 계정별 배부기준관리 조회 및 처리 -->
    <select id="HAPL_020U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_020u_str
            #{actkind}, #{cmpycd}, #{gubun}, #{stdym}, #{acctcd}, #{acctnm},
            #{deptdivcd}, #{deptdivnm}, #{itemdivcd}, #{itemdivnm},
            #{remark}, #{useyn}, #{userid}
    </select>

    <!-- 배부적수관리 조회 및 처리 -->
    <select id="HAPL_030U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_030u_str
            #{actkind}, #{cmpycd}, #{gubun}, #{stdym}, #{divcd}, #{deptcd},
            #{bdeptcd}, #{divrate1}, #{divrate2}, #{divrate3},
            #{remark}, #{useyn}, #{userid}
    </select>

    <!-- 부서집계수식 조회 및 처리 -->
    <select id="HAPL_040U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_040u_str
            #{actkind}, #{cmpycd}, #{stdym}, #{deptcd}, #{cdeptcd},
            #{rate}, #{remark}, #{userid}
    </select>

    <!-- 품목배부율관리 조회 및 처리 -->
    <select id="HAPL_050U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_050u_str
            #{actkind}, #{cmpycd}, #{gubun}, #{stdym}, #{divcd},
            #{deptcd}, #{custcd}, #{user_id}, #{itemcd}, #{itsize},
            #{unit}, #{itemnm}, #{divrate1}, #{divrate2}, #{divrate3},
            #{userid}
    </select>

    <!-- 배부작업 처리 -->
    <select id="HAPL_100U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_100u_str
            #{actkind}, #{cmpycd}, #{stdym}, #{deptcd}, #{userid}
    </select>

    <!-- 손익계산서 조회 -->
    <select id="HAPL_110S_STR" resultType="java.util.LinkedHashMap">
        exec hapl_110s_str #{cmpycd}, #{deptcd}, #{stdym}
    </select>

    <!-- 손익계산서 초기화 정보 조회 (최근 작업년월) -->
    <select id="HAPL_110S_INIT" resultType="java.util.LinkedHashMap">
        select isnull(max(acctym),'000000') as acctym
        from hapl100t_tbl
        where cmpycd = #{cmpycd}
          and gubun = '020'
          and acctym &lt;= #{stdym}
    </select>

    <!-- 배부현황 조회 -->
    <select id="HAPL_120S_STR" resultType="java.util.LinkedHashMap">
        exec hapl_120s_str #{cmpycd}, #{stdym}, #{acctcdfr}, #{acctcdto}
    </select>

    <!-- 부서별 손익계산서 조회 -->
    <select id="HAPL_140S_STR" resultType="java.util.LinkedHashMap">
        exec hapl_140s_str #{actkind}, #{cmpycd}, #{deptcd}, #{stdym}
    </select>

    <!-- 품목별 손익 배부작업   -->
    <select id="HAPL_200U_STR" resultType="java.util.LinkedHashMap">
        exec hapl_200u_str #{actkind}, #{cmpycd}, #{yymm}, #{deptcd}, #{userid}
    </select>

    <select id="HAPL_210S_STR" resultType="java.util.LinkedHashMap">
        exec hapl_210s_str #{cmpycd}, #{deptcd}, #{ymfr}, #{ymto}, #{ordgbn}
    </select>

    <select id="HAPL_220S_STR" resultType="java.util.LinkedHashMap">
        exec hapl_220s_str #{cmpycd}, #{deptcd}, #{custcd}, #{ymfr}, #{ymto}, #{ordgbn}
    </select>

</mapper>
