<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hacl.mapper.HaclMapper">


    <select id="HACL_010S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_010s_str #{cmpycd}, #{yymm}, #{gbn}
    </select>

    <select id="HACL_020S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_020s_str #{cmpycd}, #{yymm}
    </select>

    <select id="HACL_030S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_030s_str #{cmpycd}, #{yymm}
    </select>

    <select id="HACL_040S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_040s_str #{cmpycd}, #{yymm}
    </select>

    <select id="HACL_050S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_050s_str #{cmpycd}, #{yymm}
    </select>

    <select id="HACL_060S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_060s_str #{cmpycd}, #{yymm}
    </select>

    <select id="HACL_070S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_070s_str #{cmpycd}, #{prjcd}, #{yymm}
    </select>

    <select id="HACL_080S_STR" resultType="java.util.LinkedHashMap">
        exec hacl_080s_str #{cmpycd}, #{yymm}
    </select>

    <select id="HACL_800U_STR" resultType="java.util.LinkedHashMap">
        exec hacl_800u_str #{cmpycd}, #{yy}, #{mm}
    </select>

    <select id="HACL_900U_STR" resultType="java.util.LinkedHashMap">
        exec hacl_900u_str #{actkind}, #{cmpycd}, #{clsyy}, #{wkgbn}
    </select>

</mapper>
