<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crmbank.erp.hp00.mapper.Hp00Mapper">

    <select id="HP00_000S_STR" resultType="map">
        exec hp00_000s_str #{gubun}, #{cmpycd}, #{gbncd}, #{code}, #{codenm}, #{etcval}
    </select>

</mapper>
